<div class="projects" id="main-projects">
	<h1>Most Recent Projects</h1>
	<div class="project">
		<a href="hope-fit" class="project-button" id="hope-fit">
			<%= image_tag "hope_fit_all_media.png", alt: "HopeFit", class: "all-media" %>
		</a>
		<a href="hope-fit">View HopeFit Project</a>
		<div class="technologies">
			<%= image_tag "android.png", alt: "Android" %>
			<%= image_tag "html_5.png", alt: "HTML 5" %>
		</div>
	</div>
	<div class="project">
		<a href="#" class="project-button" id="cornerstone">
			<%= image_tag "cornerstone_all_media.png", alt: "Cornerstone", class: "all-media" %>
		</a>
		<a href="#">View Cornerstone Project</a>
		<div class="technologies">
			<%= image_tag "apple.png", alt: "iOS" %>
			<%= image_tag "html_5.png", alt: "HTML 5" %>
		</div>
	</div>
</div>
<!-- <div class="projects" id="other-projects">
	<div class="project">
		<a href="#" class="project-button">
			
		</a>
	</div>
</div> -->