<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>tbrushwyler</title>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body class="no-js">
		<div class="section group header small">
			<h1><%= link_to "tbrushwyler", root_path %></h1>
		</div>
		<div class="content">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>